workflow/Daily_Trusted_News_Digest.json
{
  "name": "News Article Summarizer",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional news summarizer working for a senior newspaper editor.\n\nYou will receive a news article title and content.\n\nYour job is to write TWO things:\n\n1. HEADLINE\nWrite a strong, clear, professional headline in maximum 10 words.\n\n2. SUMMARY\nWrite exactly 5 to 6 sentences as a plain paragraph.\nCover these points:\n- What happened\n- Who is involved\n- Where and when it happened\n- Why it matters\n- What is expected to happen next\n\nRules:\n- No bullet points\n- No sub-headings\n- Plain paragraph only\n- Professional newspaper tone\n- Do not start with \"This article\" or \"The article\"\n- Write as if you are informing a busy senior editor who needs the full picture in 30 seconds\n\nInput:\nTitle: {{ $json.title }}\nContent: {{ $json.contentSnippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional news editor. Summarize the article in exactly 5 to 6  sentences maximum. \nBe factual and neutral. Mention: what happened, who is involved, why it matters.\nOutput ONLY the summary. No intro phrases. Keep it under 60 words."
        }
      },
      "id": "5da82951-58d3-409e-bcc4-5b1aef196a72",
      "name": "Summarize Article",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1408,
        784
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "06ca9a56-38a9-451b-8614-b2820814c0ef",
      "name": "Daily 7 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const TRUSTED_DOMAINS = [\n  'aljazeera.com', 'dawn.com', 'bbc.com', 'bbc.co.uk',\n  'reuters.com', 'apnews.com', 'google.com', 'theguardian.com',\n  'nytimes.com', 'npr.org', 'dw.com', 'france24.com'\n];\n\nconst CLICKBAIT_KEYWORDS = [\n  'you won\\'t believe', 'shocking', 'mind blowing', 'goes viral',\n  'breaks the internet', 'secret revealed', 'they don\\'t want you to know',\n  'number 5 will shock', 'this one trick', 'doctors hate',\n  'click here', 'limited time', 'breaking!!!', 'omg'\n];\n\nconst FAKE_INDICATORS = [\n  'conspiracy', 'deep state', 'plandemic', 'hoax'\n];\n\nfunction isFromTrustedDomain(url) {\n  if (!url) return false;\n  try {\n    // Clean URL before parsing\n    const cleanUrl = url.split('?')[0].trim();\n    const hostname = new URL(cleanUrl).hostname.replace('www.', '');\n    return TRUSTED_DOMAINS.some(domain => hostname.includes(domain));\n  } catch (e) {\n    // If URL parse fails, check if the raw string contains a trusted domain\n    return TRUSTED_DOMAINS.some(domain => (url || '').includes(domain));\n  }\n}\n\nfunction hasClickbait(title) {\n  if (!title) return false; // Don't reject if no title yet\n  const lower = title.toLowerCase();\n  return CLICKBAIT_KEYWORDS.some(kw => lower.includes(kw));\n}\n\nfunction hasFakeIndicators(text) {\n  if (!text) return false;\n  const lower = text.toLowerCase();\n  return FAKE_INDICATORS.some(kw => lower.includes(kw));\n}\n\nfunction isRecent(pubDate) {\n  if (!pubDate) return true; // Don't reject missing dates\n  try {\n    const articleDate = new Date(pubDate);\n    if (isNaN(articleDate.getTime())) return true; // Don't reject unparseable dates\n    const now = new Date();\n    const hoursOld = (now - articleDate) / (1000 * 60 * 60);\n    return hoursOld <= 48 && hoursOld >= -2; // Allow slight future dates (timezone issues)\n  } catch (e) {\n    return true;\n  }\n}\n\nfunction hasMissingFields(item) {\n  return !item.title || !item.link;  // Removed pubDate requirement\n}\n\nconst items = $input.all();\nconst filtered = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  if (hasMissingFields(d)) continue;\n  if (!isFromTrustedDomain(d.link)) continue;\n  if (hasClickbait(d.title)) continue;\n  if (hasFakeIndicators(d.title + ' ' + (d.contentSnippet || ''))) continue;\n  if (!isRecent(d.pubDate)) continue;\n\n  filtered.push({\n    json: {\n      title: d.title,\n      link: d.link,\n      pubDate: d.pubDate || new Date().toISOString(),\n      snippet: d.contentSnippet || d['content:encodedSnippet'] || d.content || '',\n      source: d.creator || d.source || (() => {\n        try { return new URL(d.link).hostname.replace('www.',''); } \n        catch(e) { return 'Unknown'; }\n      })(),\n      publishedAt: (() => {\n        try { return new Date(d.pubDate).toISOString(); }\n        catch(e) { return new Date().toISOString(); }\n      })()\n    }\n  });\n}\n\n// Remove duplicates by title similarity\nconst unique = [];\nconst seenTitles = [];\nfor (const item of filtered) {\n  const cleanTitle = item.json.title.toLowerCase().replace(/[^a-z0-9 ]/g, '').slice(0, 40);\n  if (!seenTitles.includes(cleanTitle)) {\n    seenTitles.push(cleanTitle);\n    unique.push(item);\n  }\n}\n\nreturn unique.length > 0 ? unique : [{ json: { error: 'No articles passed filter', count: items.length } }];"
      },
      "id": "b9150083-5ae5-4cf2-9f69-aabfd3704400",
      "name": "Authenticity Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        592
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "publishedAt",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "b420337a-54dc-40fc-aa54-0ae1490deca4",
      "name": "Sort By Date",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        752,
        592
      ]
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "78cbf2c1-25db-4d36-ac66-5d32d1e40aab",
      "name": "Limit To 10",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        960,
        592
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "articles",
        "options": {}
      },
      "id": "8924d96e-079b-49fc-81f9-290db9faa0af",
      "name": "Combine Summaries",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1504,
        576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d84283d5-aef0-414d-b221-d6b5cc0aee0d",
      "name": "Loop Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        592
      ]
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "3cf2089a-59f3-4227-a031-39e457459846",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1936,
        576
      ],
      "webhookId": "b028aa1f-7e57-4968-937e-06107cd9fe79",
      "credentials": {
        "gmailOAuth2": {
          "id": "uxqXWLj2PuouJv3z",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "model": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1408,
        1056
      ],
      "id": "1e5204ac-e6a2-4ae0-8e0e-d7ae830d7931",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// AI output is in item.json\nlet summary = '';\n\nif (typeof item.json.text === 'string') {\n  summary = item.json.text;\n} else if (item.json.message?.content) {\n  summary = item.json.message.content;\n} else if (item.json.output) {\n  summary = item.json.output;\n} else {\n  summary = JSON.stringify(item.json);\n}\n\n// Get article data from the loop context\nconst loopData = $('Loop Articles').first().json;\n\nreturn [{\n  json: {\n    title: loopData.title || '',\n    source: loopData.source || '',\n    link: loopData.link || '',\n    pubDate: loopData.pubDate || '',\n    summary: summary.trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        784
      ],
      "id": "b7e968fd-5903-4f1d-8845-9f053ae72e59",
      "name": "Extract Summary"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst articles = input.articles || [];\n\nconst today = new Date().toLocaleDateString('en-PK', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric',\n  timeZone: 'Asia/Karachi'\n});\n\nlet newsHTML = '';\n\narticles.forEach((d, index) => {\n  newsHTML += `\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px;\">\n      <tr>\n        <td>\n          <p style=\"margin:0 0 4px 0;font-size:13px;font-weight:600;color:#1a73e8;text-transform:uppercase;letter-spacing:1px;\">\n   News ${index + 1}\n</p>\n          </p>\n          <h2 style=\"margin:0 0 12px 0;font-size:20px;font-weight:700;color:#1a1a1a;line-height:1.4;font-family:Arial,Helvetica,sans-serif;\">\n            ${d.title || 'No Title'}\n          </h2>\n          <p style=\"margin:0 0 6px 0;font-size:12px;color:#999999;font-family:Arial,Helvetica,sans-serif;\">\n            ${d.pubDate || ''}\n          </p>\n          <p style=\"margin:0 0 14px 0;font-size:15px;color:#444444;line-height:1.8;font-family:Arial,Helvetica,sans-serif;\">\n            ${d.summary || 'No summary available'}\n          </p>\n          <a href=\"${d.link || '#'}\" \n             style=\"display:inline-block;font-size:13px;color:#ffffff;background:#1a73e8;text-decoration:none;padding:8px 18px;border-radius:4px;font-family:Arial,Helvetica,sans-serif;font-weight:600;\">\n            Read Full Article →\n          </a>\n          ${index < articles.length - 1 ? '<hr style=\"border:none;border-top:1px solid #eeeeee;margin-top:28px;\">' : ''}\n        </td>\n      </tr>\n    </table>\n  `;\n});\n\n// Fallback if articles array is empty\nif (articles.length === 0) {\n  newsHTML = '<p style=\"color:red;\">No articles found. Check Combine Summaries node.</p>';\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">\n  <title>Morning News Digest</title>\n</head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\">\n\n  <!-- Outer wrapper -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f4;padding:32px 0;\">\n    <tr>\n      <td align=\"center\">\n\n        <!-- Email container -->\n        <table width=\"620\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\">\n\n          <!-- Header -->\n          <tr>\n            <td style=\"background:#1a1a2e;padding:28px 36px;\">\n              <h1 style=\"margin:0;font-size:26px;font-weight:700;color:#ffffff;font-family:Arial,Helvetica,sans-serif;\">\n                🗞️ Morning News Digest\n              </h1>\n              <p style=\"margin:6px 0 0 0;font-size:13px;color:#aaaacc;font-family:Arial,Helvetica,sans-serif;\">\n                ${today}\n              </p>\n            </td>\n          </tr>\n\n          <!-- Blue divider -->\n          <tr>\n            <td style=\"background:#1a73e8;height:4px;\"></td>\n          </tr>\n\n          <!-- Intro bar -->\n          <tr>\n            <td style=\"background:#f8f9ff;padding:14px 36px;border-bottom:1px solid #eeeeee;\">\n              <p style=\"margin:0;font-size:13px;color:#555555;font-family:Arial,Helvetica,sans-serif;\">\n                ✅ <strong>${articles.length} verified stories</strong> from trusted sources, summarized, and fact-checked for you.\n              </p>\n            </td>\n          </tr>\n\n          <!-- Stories -->\n          <tr>\n            <td style=\"padding:32px 36px;\">\n              ${newsHTML}\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"background:#f8f8f8;padding:20px 36px;border-top:1px solid #eeeeee;\">\n              <p style=\"margin:0;font-size:12px;color:#aaaaaa;line-height:1.8;font-family:Arial,Helvetica,sans-serif;\">\n                📡 Sources: Al Jazeera • Dawn • BBC World • Reuters • AP News • Google News<br>\n                🕖 Delivered automatically every morning at 7:00 AM PKT<br>\n                Powered by n8n + Groq AI\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>`;\n\nreturn [{ json: { html, subject: `🗞️ Morning News Digest — ${today}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        576
      ],
      "id": "0fc9284d-0612-424c-b11e-2fc1fd9f4dba",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss?hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        592
      ],
      "id": "b6676502-a093-43c7-9e4e-828de541f3c5",
      "name": "Google News"
    }
  ],
  "pinData": {},
  "connections": {
    "Summarize Article": {
      "main": [
        [
          {
            "node": "Extract Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 7 AM Trigger": {
      "main": [
        [
          {
            "node": "Google News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticity Filter": {
      "main": [
        [
          {
            "node": "Sort By Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort By Date": {
      "main": [
        [
          {
            "node": "Limit To 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit To 10": {
      "main": [
        [
          {
            "node": "Loop Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Summaries": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Articles": {
      "main": [
        [
          {
            "node": "Combine Summaries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Summary": {
      "main": [
        [
          {
            "node": "Loop Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google News": {
      "main": [
        [
          {
            "node": "Authenticity Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fb9a7d73-0483-4b49-8642-d005665be6e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7accb48f54f531e4c907ed5dd011b8cc5bb4ff44d803c36a207547f199ad428a"
  },
  "nodeGroups": [],
  "id": "CjbR1bT7ql7HQP3v",
  "tags": []
}
